*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input ::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}


/*---------------------------------------------------*/




body {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #102746;
}

img {
    max-width: 100%;
    height: auto;
}

.wrapper {
    max-width: 1060px;
    margin: 0 auto;
}

.wrapper-full {
    max-width: 1262px;
    margin: 0 auto;
}

.section-title {
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    position: relative;
    padding-bottom: 10px;
}
.section-title::after {
    display: block;
    content: '';
    width: 253px;
    height: 3px;
    background-color: #006DFE;
    position: absolute;
    bottom: 0;
    left: 0;
}

/*------------ШАПКА-----------*/

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.2s linear;
    padding-bottom: 20px;
    z-index: 999;
}
.header_active {
    background: #0E1D28;
    opacity: 0.99;
}

.header__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 56px;
}
.header__list {
    display: flex;
    flex-wrap: wrap;
}
.header__item {
    margin-right: 82px;
}
.header__item:last-child {
    margin-right: 0;
}
.header__link {
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}
.header__link:hover, .header__link:focus, .header__link:active {
    opacity: 0.75;
}

/*-----------------------ИНТРО----------------------*/

.intro {
    min-height: 100vh;
    background: url(../img/intro_background.jpg) no-repeat center;
    background-size: cover;
    padding-top: 263px;
    padding-bottom: 223px;
}
.intro__title {
    max-width: 619px;
    margin-bottom: 22px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
}
.intro__subtitle {
    max-width: 546px;
    margin-bottom: 59px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.search-form{
    margin-bottom: 153px;
}
.search-form__info {
    display: flex;
    flex-wrap: wrap;
}
.search-form__field {
    width: 297px;
    height: 49px;
    background: transparent url(../img/intro_form/Oval.svg) no-repeat left 6px;
    background-size: 20px;
    border-bottom: 2px solid #BFC0C5;
    margin-right: 60px;
    padding-left: 43px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}
.search-form__field::placeholder {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}
.search-form__submit {
    padding: 15px 39px;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    text-transform: uppercase;
    background-color: #1B7DFF;
    border-radius: 5px;
}
.search-form__submit:hover, .search-form__submit:focus, .search-form__submit:active {
    background-color: #0061e2;
}

/*-------------------BENEFITS------------------*/

.benefits {
    margin-bottom: 131px;
}

.benefits__wrap {
    max-width: 1262px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
    position: relative;
}
.benefits__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 55px;
    padding: 0 100px;
}
.benefits__title {
    width: 100%;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;  
    padding: 93px 100px 88px 100px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    background-color: #fff;
}
.benefits__card {
    grid-column: span 1;
    margin-bottom: 112px;
}
.benefits__card-pic {
    margin-bottom: 37px;
    min-width: 66px;
}
.benefits__card-thumb {
    display: block;
}
.benefits__card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 26px;
    color: #000000;
}
.benefits__card-desk {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 40px;
}
.benefits__card-more {
    display: inline-block;
    padding-right: 59px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    background: url(../img/Benefits_card/Shape.svg) no-repeat 95% center;
    transition: 0.2s all;
}
.benefits__card-more:hover, .benefits__card-more:focus {
    background: url(../img/Benefits_card/Shape.svg) no-repeat right center;
}

/*-------------PLACES-------------*/

.places {
    margin-bottom: 131px;
}
.places__caption {
    margin-bottom: 36px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.places__title {
    margin-right: 15px;
}
.places__view-all {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    padding-right: 59px;
    background: url(../img/Benefits_card/Shape.svg) no-repeat right center;
}
.places__view-all:hover, .places__view-all:focus {
    opacity: 0.7;
}
.places__cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}
.places__card {
    position: relative;
    overflow: hidden;
}
.places__card::after {
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}
.places__card:hover .places__card-pic {
    transform: scale(1.05);
}
.places__card-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    position: absolute;
    bottom: 27px;
    left: 29px;
    z-index: 3;
}
.places__card_size_lg {
    grid-column: span 3;
}
.places__card_size_sm {
    grid-column: span 2;
}
.places__card-pic {
    width: 100%;
    transition: 0.15s all;
}
.places__card-pic_size_lg {
    height: 354px;
    object-fit: cover;
}
.places__card-pic_size_sm {
    height: 283px;
    object-fit: cover;
}
.places__card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}

/*------------------tours-----------------*/

.tours {
    margin-bottom: 139px;
}
.tours_tour {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 108px;
    align-items: center;
    margin-bottom: 77px;
}
.tour__info {
    padding-left: 47px;
}
.tour__title {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 85px;
}
.tour__desk {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    max-width: 519px;
    margin-bottom: 58px;
}
.tour__more {
    display: inline-block;
    padding-right: 59px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #006DFE;
    background: url(../img/Benefits_card/Shape.svg) no-repeat 95% center;
    transition: 0.2s all;
}
.tour__more:hover, .tour__more:focus {
    background: url(../img/Benefits_card/Shape.svg) no-repeat 100% center;
}

/*-------------------top---------------------*/

.top {
    margin-bottom: 87px;
}
.top__title {
    margin-bottom: 54px;
}
.top__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 57px;
}
.top__card {
    display: flex;
    flex-direction: column;
}
.top__card-pic {
    position: relative;
    margin-bottom: 45px;
}
.top__card-stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px 25px;
}
.top__card-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0 auto 0 0;
}
.top__card-likes {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding-right: 20px;
    background: url(../img/top_places/icon/heart.svg) no-repeat right center;
    margin-right: 14px;
}
.top__card-comments {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding-right: 23px;
    background: url(../img/top_places/icon/comment.svg) no-repeat right center;
}
.top__card-desk {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 31px;
}
.top__card-more {
    width: 118px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 12px 19px;
    background-color: #1B7DFF;
    border-radius: 5px;
    margin: auto 0 0 0;
}
.top__card-more:hover, .top__card-more:focus, .top__card-more:active {
    background-color: #0061e2;
}

/*----------Videeo----------*/

.videos {
    width: 100%;
}
.videos__wrapper {
    max-width: 1060px;
    margin: 0 auto;
    position: relative;
}
.video__item {
    padding-top: 56.25%;
}
.video__element {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*----------FOOTER----------*/

.footer {
    background: #0E1D28;
    padding: 119px 0;
}
.footer__item {
    display: flex;
    flex-wrap: wrap;
}
.footer__logo {
    width: 50%;
}
.footer__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
}
.footer__menu-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}
.footer__menu-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
.footer__menu-link:hover, .footer__menu-link:focus, .footer__menu-link:active {
    opacity: 0.75;
}